<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="url" content="https://www.wherecanireturnmybottles.com">
    <meta name="description"
        content="See where you can return your plastic bottles and get your deposit back. Find the nearest available reverse vending machine in Ireland. Help other users by marking locations as available or not.">
    <meta name="keywords"
        content="deposit return scheme, bottle return scheme, reverse vending machines, locations, status, availability, bottles, plastic, deposit, return, scheme, ireland, re-turn, return">
    <meta name="robots" content="index, follow">
    <title>Deposit Return Scheme Machine Tracker Map</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <nav></nav>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
</body>

</html>