<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Turn machine availability tracker</title>
    <meta name="description"
        content="Find locations where you can return plastic drink containers and check the availability of reverse vending machines.">
    <meta name="keywords"
        content="recycling, plastic, environment, sustainability, reverse vending machine, recycling machine, re-turn, ireland, bottles, machine, avaialble">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <nav></nav>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
</body>

</html>